__pycache__
/build/*
!/build/distrib
/dist

kosmorro.egg-info
.coverage
coverage.xml

/kosmorrolib/assets/pdf/*
!/kosmorrolib/assets/pdf/*.tex
!/kosmorrolib/assets/pdf/*.sty

/manpage/*
!/manpage/*.md

# Translation files are taken care on https://poeditor.com/join/project/GXuhLpdaoh
*.mo
*.po
/.eggs
