__pycache__
/build
/dist
kosmorro.egg-info
.coverage
coverage.xml

/manpage/*
!/manpage/*.md

# Compiled internationalization files
*.mo

# GitPod-specific:
/.vscode/**

# AppImage builds
/AppDir
/appimage-builder-cache
*.AppImage
*.AppImage.zsync

# Changelog-specific
/node_modules
package.json
package-lock.json
