__pycache__
/build
/dist
kosmorro.egg-info
.coverage
coverage.xml
node_modules/
package-lock.json
/kosmorrolib/assets/pdf/*
!/assets/pdf/*.tex

# Translation files are taken care on https://poeditor.com/join/project/GXuhLpdaoh
*.mo
*.po
