[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
babel = "*"
black = "*"
pytest = "*"
aurornis = "*"

[packages]
tabulate = "*"
termcolor = "*"
kosmorrolib = ">=1.0.0,<2.0.0"
python-dateutil = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
