[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylintfileheader = "*"
pylint = "*"
codecov = "*"
babel = "*"
unittest-data-provider = "*"

[packages]
skyfield = ">=1.13.0,<2.0.0"
tabulate = "*"
numpy = ">=1.17.0,<2.0.0"
termcolor = "*"
latex = "*"
dateutil = ">=2.8.1"

[requires]
python_version = "3"
