[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
babel = "*"
black = "*"

[packages]
tabulate = "*"
termcolor = "*"
kosmorrolib = ">=0.11.0,<0.12.0"
python-dateutil = "*"
openlocationcode = ">=1.0.0,<2.0.0"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
