[tool.poetry]
name = "kosmorro"
version = "0.10.10"
description = "A program to compute the ephemerides."
authors = ["Jérôme Deuchnord <jerome@deuchnord.fr>"]
license = "AGPL-3.0-or-later"

include = [
    "CHANGELOG.md",
    "kosmorro/locales/*/LC_MESSAGES/*.mo",
    "kosmorro/assets",
]

[tool.poetry.scripts]
kosmorro = 'kosmorro.__main__:main'

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
tabulate = "^0.8"
termcolor = "^1.1"
kosmorrolib = "^1.0"
python-dateutil = "^2.8"
Babel = "^2.9"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
pytest = "^7.0"
aurornis = "^1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
