name: Release Application

on:
  release:
    types: [created]

jobs:
  pip:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Setup environment
      run: |
        sudo apt update
        sudo apt install ruby
        sudo gem install ronn
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine skyfield numpy tabulate Babel requests
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        POEDITOR_API_ACCESS: ${{ secrets.POEDITOR_API_ACCESS }}
        POEDITOR_PROJECT_ID: 306433
      run: |
        make POEDITOR_API_ACCESS="${POEDITOR_API_ACCESS}" POEDITOR_PROJECT_ID="306433" build
        twine upload dist/*
