name: Release Application

on:
  release:
    types: [published]

jobs:
  pipy:
    name: Build and Release to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Prepare environment
        run: |
          python -m pip install --upgrade pip poetry

      - name: Build package
        run: |
          poetry install
          make i18n build

      - name: Publish to PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_PASSWORD }}
        run: |
          poetry publish
