name: Unit tests

on:
  push:
    branches: [master, features]
  pull_request:
    branches: [master, features]

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-18.04
          - ubuntu-20.04
          - macos-10.15
          - macos-11.0
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'

    name: Unit tests (Python ${{ matrix.python-version }} on ${{ matrix.os }})
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip pipenv
        pipenv sync -d
    - name: Unit tests
      env:
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      run: |
        make test
        COVERALLS_REPO_TOKEN=$COVERALLS_TOKEN pipenv run coveralls
